{% if username is not empty and is_granted('ROLE_ALLOWED_TO_SWITCH') %}
    <div class="d-inline">
        {% if app.user.username != username %}
            <a href="{{ path('start_page', {'_switch_user': username}) }}"
               title="войти под именем"
            >
                <span class="glyphicon glyphicon-log-in"></span>
            </a>
        {% endif %}
    </div>
{% endif %}
